body { 
  font-family: sans-serif; 
  background-image: url("beer_wall.jpg");
  background-size: 500px;
}

a, h1      { color: #377BA8;}

h1         { font-family: 'Georgia', serif; margin: 0; text-align:center;}

h3,h4				
{
  text-align: center;
  margin: 15px;
}

/*for dropdowns*/

details summary::-webkit-details-marker {
  display:none;
}

details > summary:first-of-type { list-style-type: none; }

summary:focus{ outline:0; }

/*for tables*/
table {
  border-collapse: collapse;
  margin: 0 auto;
}

table, th, td { border: 1px solid black;}

th {
  padding-right: 6px;
  padding-left: 6px;
}

tr:nth-child(even){background-color: #d2d2d2;}

tr:hover {background-color: #888;}

td {
  padding-right: 6px;
  padding-left:6px;
}

/* forms */
textarea { font-size: 1em; }

input { font-size: 1em; }

select { font-size: 1em; }

/*for centering images*/
.imgparent {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*main layout elements */

.pagebox { 
  margin: 2em auto; width: 38em; border: 5px solid #ccc;
  padding: 0.8em; background: white; column-span: 1
}

.index-page { background: rgba(255, 255, 255, 0.85); }

.content-box > div {
  min-width: 200px;
  max-width: 500px;
  text-align: center;
  line-height: 75px;
}

.graph {
	text-align: center; 
  min-height: 300px;
}

.box { 
  min-width: 450px;
  display:inline-block;
	line-height:30px;
  border: 2px solid #ccc;
  padding-left: 20px;
  padding-right: 20px;
  margin: 1em auto; 
  background: #fafafa; }

.clear { clear: both; }

.outer-subcontent-box{ margin: 1.5px auto; }

/* minor layout elements */

label { margin-bottom: 20px; }

.button { 
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  outline: none;
}

.credit{
  text-align: right;
  font-size: .55em;
}

/*should be changed*/

.monospace {
  font-family: Lucida Console, Courier, monospace;
  font-size: 1em;
}

.centered{ 
	text-align: center; 
  min-height: 100px;
}

.padded_on_right{ margin-right: 30px }

.alignleft { float: left; }

.alignright { float: right; }

.inline { display: inline; }
