<!DOCTYPE html>
<html>
<title>BitterBetter</title>
<head>
<link rel = stylesheet type=text/css href=../static/style.css>
<!-- {{resources}} -->
<script>
    function changeContent(description) {
        console.log(description);
        var MyDesc = document.getElementById(description);
        document.getElementById('content').innerHTML = MyDesc.value;
    }
    function resetContent() {
        // console.log(description);
        // var MyDesc = document.getElementById(description);
        document.getElementById('content').innerHTML = "";//MyDesc.value;
    }
</script>
</head>
<body>
<div class ="index-page pagebox"> 
	<h1>BitterBetter</h1>
	<div class="container">
		{{full_results}}
		<div style="margin: 1.5px auto;">
			<div class="box">
				{{error_message}}
				<form id = 'choices' method='post' action='index'>
					<p class="centered">
					<label class="centered">
						Description:<br>
						<textarea name="submission" class = "normal-font-size" rows="10" cols="50" maxlength="10000">{{submission}}</textarea>
					</label>
					</p>	
					<p align=center>
						<span class="padded_on_right">
							ABV: <input type="text" class = "normal-font-size" style="width:50px" name="abv" value="{{abv}}">
						</span>
						<span>
							Style: 
							<select name="style" class = "normal-font-size">
								<optgroup label="Ales">
								<option value="Pale Ale - American / APA" {{selected_Pale_Ale___American___APA}}>American pale ale</option>
								<option value="Belgian Ale - Pale / Golden" {{selected_Belgian_Ale___Pale___Golden}}>Belgian (golden) ale</option>
								<option value="Witbier / Belgian White Ale" {{selected_Witbier___Belgian_White_Ale}}>Belgian (white) ale</option>
								<option value="IPA - Black/Brown/Cascadian Dark" {{selected_IPA___Black_Brown_Cascadian_Dark}}>Black/Brown IPA</option>
								<option value="Blonde Ale / Golden Ale" {{selected_Blonde_Ale___Golden_Ale}}>Blonde Ale</option>
								<option value="Brown Ale" {{selected_Brown_Ale}}>Brown Ale</option>
								<option value="IIPA - Imperial / Double IPA" {{selected_IIPA___Imperial___Double_IPA}}>Double IPA</option>
								<option value="IPA - Hazy / NEIPA" {{selected_IPA___Hazy___NEIPA}}>Hazy IPA</option>
								<option value="Weissbier - Hefeweizen" {{selected_Weissbier___Hefeweizen}}>Hefeweizen</option>
								<option value="IPA" {{selected_IPA}}>IPA</option>
								<option value="Red Ale / Intl Amber Ale" {{selected_Red_Ale___Intl_Amber_Ale}}>Red Ale</option>
								<option value="Saison / Farmhouse / Grisette" {{selected_Saison___Farmhouse___Grisette}}>Saison</option>
								<option value="ISA - Session IPA" {{selected_ISA___Session_IPA}}>Session IPA</option>
								<option value="Wheat Ale" {{selected_Wheat_Ale}}>Wheat Ale</option>
								</optgroup>
								<optgroup label="Other">
								<option value="Stout - Imperial" {{selected_Stout___Imperial}}>Imperial stout</option>
								<option value="Stout - Milk / Sweet" {{selected_Stout___Milk___Sweet}}>Milk stout</option>
								<option value="not specified" {{selected_not_specified}}>Not specified / Other</option>
								<option value="Pilsener / Pils / Pilsner" {{selected_Pilsener___Pils___Pilsner}}>Pilsner</option>
								<option value="Porter" {{selected_Porter}}>Porter</option>
								<option value="Sour / Wild Beer" {{selected_Sour___Wild_Beer}}>Sour</option>
								<option value="Stout" {{selected_Stout}}>Stout</option>
								</optgroup>
							</select>
						</span>
					</p>
					<p align=center>		
					<input type='submit'  style="font-size:16px" value='Submit'/>
					</p>
				</form>	
			</div>
		</div>
	</div>
<p>
<a href='about.html'>About</a>
</p>
<div class="credit">
Bacgkround photo by Christin Hume on Unsplash
</div>
</div>


</body>
</html>